:root{
    --background: #EEEEEE;
    --darkGrey: #667080;
    --font: 'Inter', sans-serif;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background);
}

.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-content{
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}

.landing-content h1{
    color: var(--darkGrey);
    font-weight: 800;
    font-size: 40px;

}

.landing-content h3{
    font-weight: 400;
    color: var(--darkGrey);
    margin-top: 0;

}

.button{
    padding: 15px 75px 15px 75px;
    background-color: #667080;
    border-radius: 15px;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.button-container{
    margin-top:50px;
    margin-bottom: 50px;
}